version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestoque_web
    restart: always
    ports:
      - "5008:5000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  db:
    image: postgres:15-alpine
    container_name: nestoque_db
    restart: always
    ports:
      - "127.0.0.1:5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=nestoque_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=nestoque_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nestoque_user -d nestoque_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
