{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"> Estoque de Produtos</h3>
        <a class="btn-primary" href="{{ url_for('stock.create_product') }}">
            <i class="fas fa-plus"></i>
            <span>Adicionar Novo Produto</span>
        </a>
    </div>
    <div class="table-filters">
        <div class="filter-group">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar Produto" id="searchInput">
                <button class="search-button"  id="searchButton">
                    <i class="icon fas fa-search"></i>
                    <span class="spinner"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="modern-table">
            <thead>
                <tr>
                    <th class="sortable">
                        <span>SKU</span>
                        <i class="fas fa-sort sort-icon"></i>
                    </th>
                    <th class="sortable">
                        <span>Nome</span>
                        <i class="fas fa-sort sort-icon"></i>
                    </th>
                    <th class="sortable">
                        <span>Quantidade</span>
                        <i class="fas fa-sort sort-icon"></i>
                    </th>
                    <th class="actions-column">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="table-row">
                    <td>{{ product.sku }}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td class="actions-column">
                        <div class="row-actions">
                            <a href="{{ url_for('stock.product_detail', product_id=product.id) }}" 
                            class="btn-icon btn-view" 
                            title="Visualizar detalhes">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ url_for('stock.edit_product', product_id=product.id) }}" 
                            class="btn-icon btn-edit" 
                            title="Editar produto">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button onclick="confirmDelete('{{ url_for('stock.delete_product', product_id=product.id) }}')" 
                                    class="btn-icon btn-delete" 
                                    title="Excluir produto">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>
</div>

