<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sistema NEstoque {% endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

</head>

<body>
    <nav class="navbar" id="navbar">
        <a href="{{ url_for('stock.list_products') }}" class="navbar-brand">
            <i class=" fas fa-cube"></i>
            <span>NEstoque</span>
        </a>
        <div class="navbar-user">
            <button class="navbar-user-toggle" id="userMenuToggle">
                <div class="navbar-user-avatar">{{ (current_user.name)[0].upper()}} </div>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="navbar-user-dropdown" id="userDropdown">
                <div class="dropdown-header">
                    <div class="dropdown-user-name">{{ current_user.name }}</div>
                    <div class="dropdown-user-email">{{ current_user.email }}</div>
                </div>
                <div class="dropdown-divider"></div>
                <!-- funcionalidade será implementada futuramente -->
                <a class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>Perfil</span>
                </a>
                <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else category }}">
            {{ message }}
            <button type="button" class="alert-close" onclick="this.parentElement.remove()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <main class="main-content">
        {% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>